@font-face {
    font-family: 'slickscreen';

    src: url('../assets/fonts/slkscr-webfont.eot');
    src: url('../assets/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/slkscr-webfont.woff') format('woff'),
         url('../assets/fonts/slkscr-webfont.ttf') format('truetype'),
         url('../assets/fonts/slkscr-webfont.svg#silkscreennormal') format('svg');

    font-weight: normal;
    font-style: normal;
}